@model PassRecoverVM
@using EventManagementSystem.reCAPTCHA

@{
    ViewBag.Title = "Reset Password";
}

<h2>Password Recovery</h2>
<hr />
<form class="form" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div>
        @Html.LabelFor(m => m.username, "Username")
        @Html.TextBoxFor(m => m.username, new { autofocus = "", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger" })
    </div>

    <div>
        @Html.LabelFor(m => m.email, "Email")
        @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
    </div>

    <br>
    <div>
        @Html.GoogleCaptcha()
        @Html.InvalidGoogleCaptchaLabel("Captcha is not valid")
    </div>
    <section>
        <button class="btn btn-primary" type="submit">Submit</button>
    </section>

</form>

