@using PagedList
@using PagedList.Mvc
@model IPagedList<Event>

@if (@Model.Count() > 0)
{

    <span id="countModel">@Model.Count() of @Model.TotalItemCount record(s) | Page @Model.PageNumber of @Model.PageCount</span>
    foreach (var e in Model)
    {
        <div class="panel" style="width: 25rem; border:1px #c3c3c3 solid; overflow:auto; display:inline-block; margin-right:20px;">
            <img class="panel-heading text-center" src="~/Photo/@e.photoURL" alt="Card image cap" style="object-fit:cover; width:245px; height:245px;" />
            <hr style="margin:0px;padding:0px;" />
            <div class="panel-body" style="">
                <h5 class="panel-title">@e.name</h5>
                <p class="card-text">@e.des</p>
                <a class="btn btn-primary" href="/Event/EventDetail?id=@e.Id">View Event</a>
            </div>
        </div>
    }
    <div id="paged">
        @Html.PagedListPager(
            Model,
            p => "?page=" + p,
            PagedListRenderOptions.Classic
            )
    </div>
}
else
{
    <div style=" text-align: center; margin-top:50px;"><span style="font-size: 16pt; text-align:center;">No Records Founded.</span></div>
}

