@using PagedList
@using PagedList.Mvc
@model IPagedList<Event>

@{
    ViewBag.Title = "Events";
    @*    IEnumerable<Event> events = ViewBag.Events;*@

}

@section head{
<style>
    .searchCont {
        display: none;
    }


</style>    
}


<h2>Events</h2>
<hr />
<p>@Model.Count() of @Model.TotalItemCount record(s) | Page @Model.PageNumber of @Model.PageCount</p>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Search by
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div>
            @Html.Label("name", "Event Name", new { @class = "control-label col-sm-2" })
            @Html.TextBox("name", null, new { maxlength = "10", data_upper = "", autofocus = "", type = "search", @class = "form-control" })
            @Html.Label("startDate", "Date From", new { @class = "control-label col-sm-2" })
            @Html.TextBox("startDate", "{0: yyyy-MM-dd}", new { type = "date", @class = "form-control col-sm-4" })
            @Html.Label("endDate", "To", new { @class = "control-label col-sm-1" })
            @Html.TextBox("endDate", "{0: yyyy-MM-dd}", new { type = "date", @class = "form-control col-sm-4" })
            @Html.Label("startTime", "Time From", new { @class = "control-label col-sm-2" })
            @Html.TextBox("startTime", "{0: HH:mm}", new { type = "time", @class = "form-control timepicker col-sm-4" })
            @Html.Label("endTime", "To", new { @class = "control-label col-sm-1" })
            @Html.TextBox("endTime", "{0: HH:mm}", new { type = "time", @class = "form-control timepicker col-sm-4" })
            <input type="submit" class="btn btn-primary searchBtn" name="Search" value="search" />
            <input type="reset" class="btn btn-primary " name="Reset" value="reset" />
        </div>

    </div>
</div>

@foreach (var e in Model)
{
    <div class="panel" style="width: 25rem; border:1px #c3c3c3 solid; overflow:auto; display:inline-block; margin-right:20px;">
        <img class="panel-heading text-center" src="~/Photo/@e.photoURL" alt="Card image cap" style="object-fit:cover; width:245px; height:245px;" />
        <hr style="margin:0px;padding:0px;" />
        <div class="panel-body" style="">
            <h5 class="panel-title">@e.name</h5>
            <p class="card-text">@e.des</p>
            @Html.ActionLink("View Event", "EventDetail", "Event", new { id = e.Id }, new { @class = "btn btn-primary" })
        </div>
    </div>
}


@Html.PagedListPager(
    Model,
    p => "?page=" + p,
    PagedListRenderOptions.Classic
    )
