@using PagedList
@using PagedList.Mvc
@model IPagedList<Event>

@{
}

@if (@Model.Count() > 0)
{
    <span id="countModel">@Model.Count() of @Model.TotalItemCount record(s) | Page @Model.PageNumber of @Model.PageCount</span>
    <table class="table table-bordered table-hover resultsTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Date</th>
                <th>Start Time</th>
                <th> End  Time</th>
                <th>Venue</th>
                <th>View Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Event s in Model)
            {
                <tr>
                    <td>@s.name</td>
                    <td>@s.des</td>
                    <td>@s.price</td>
                    <td>@s.date.ToString("dd-MM-yyyy")</td>
                    <td>@s.startTime</td>
                    <td>@s.endTime</td>
                    <td>@(s.venueId == null ? " - " : s.Venue.name)</td>
                    <td><a class="btn btn-primary" href="/Event/EventDetail?id=@s.Id">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
    <div id="paged">
        @Html.PagedListPager(
    Model,
    p => "?page=" + p,
    PagedListRenderOptions.Classic
    )
    </div>

}
else
{
    <div style=" text-align: center; margin-top:50px;"><span style="font-size: 16pt; text-align:center;">No Records Founded.</span></div>
}
