@model IEnumerable<Payment> 
@{
    ViewBag.Title = "Billing";
}

<h2>Billing</h2>

<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Event name</th>
            <th scope="col">Price(RM)</th>
            <th scope="col">Add. Charge(RM)</th>
            <th scope="col">Total(RM)</th>
            <th scope="col">Payment Status</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td scope="row">@item.Id</td>
                    <td scope="row">@item.Registration.Event.name</td>
                    <td scope="row">@item.Registration.Event.price</td>
                    <td scope="row">@item.addCharge</td>
                    <td scope="row">@item.price</td>
                    <td scope="row">@(item.status == true ? "Paid" :"Unpaid")</td>
                    <td scope="row">@item.Registration.Event.date.ToString("dd-MM-yyyy")</td>
                    <td style="text-align:center">
                        <a class="btn btn-secondary" href="~/User/Payment?id=@item.Id">Make payment</a>
                    </td>
                </tr>
        }

    </tbody>
</table>