@model IEnumerable<Payment> 
@{
    ViewBag.Title = "Billing";
}

<h2>Billing</h2>

<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Event name</th>
            <th scope="col">Price(RM)</th>
            <th scope="col">Additional Charge(RM)</th>
            <th scope="col">Payment Status</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td scope="row">@item.Id</td>
                    <td scope="row">@item.Registration.Event.name</td>
                    <td scope="row">@item.price</td>
                    <td scope="row">@item.addCharge</td>
                    <td scope="row">@(item.status == true ? "Paid" :"Unpaid")</td>
                    <td scope="row">@item.Registration.Event.date</td>
                    <td style="text-align:center">
                        @Html.ActionLink("Make payment", "Payment", "User", new { id = item.Id } ,new { @class ="btn btn-secondary" })
                    </td>
                </tr>
        }

    </tbody>
</table>