@using PagedList
@using PagedList.Mvc
@model IPagedList<Event>
@{
    ViewBag.Title = "EventsProposed";
}

<h2>Events Proposed</h2>
<hr />
<p>@Model.Count() of @Model.TotalItemCount record(s) | Page @Model.PageNumber of @Model.PageCount</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <th scope="row">@e.Id</th>
                <td>@e.name</td>
                <td>@e.date.ToString("dd-MM-yyyy")</td>
                <td>@e.startTime</td>
                <td>@e.endTime</td>
                @{
                    if (e.approvalStat == null)
                    {
                        <td><b>Pending</b></td>
                    }
                    else if (e.approvalStat == true)
                    {
                        <td><b>Accepted</b></td>
                    }
                    else if (e.approvalStat == false)
                    {
                        <td><b>Denied</b></td>
                    }
                }
                <td style="text-align:center"><a href="~/User/ManageEventProposed?id=@e.Id" class="btn btn-danger">Manage</a></td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(
    Model,
    p => "?page=" + p,
    PagedListRenderOptions.Classic
    )

