@model OrgEditEventVM
@{
    ViewBag.Title = "ManageEventProposed";

}

@section head{
    <style>
        .tooltip1 {
            position: relative;
            display: inline-block;
        }

        .tooltip1 .tooltiptext {
            width: 120px;
            top: 50%;
            left: 50%;
            margin-left: -60px;
            visibility: hidden;
            width: 120px;
            background-color: #c3c3c3;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
        }

        .tooltip1:hover .tooltiptext {
            visibility: visible;
        }

    </style>
}

<div>
    <h2>Manage Event Proposed</h2>
    <hr />

    <div class="col-md-3" style="padding-left:0px">
        <ul class="nav nav-pills flex-column">
            <li class="active"><a data-toggle="pill" href="#detail">Detail</a></li>
            @if (Model.approvalStat == null)
            {
                <li><a data-toggle="pill" href="#editdetail">Edit Detail</a></li>

            }
            else
            {
                <li class="tooltip1"><a style="cursor:not-allowed" href="#" disabled>Edit Detail</a><span class="tooltiptext">Only pending event can be edited</span></li>
            }

            <li><a data-toggle="pill" href="#registration">Registration (@Model.NoOfParticipants/@Model.participants)</a></li>
            <li><a data-toggle="pill" href="#payment">Payment</a></li>
            @if (Model.venueId == null && Model.approvalStat == true)
            {
                <li><a class="btn btn-primary" href="/Event/VenueBooking?Id=@Model.Id">Book Venue</a></li>
            }
            @*// Select time range for advertisement*@
            <li><a class="btn btn-primary" href="/User/AdvertisementSelect?Id=@Model.Id">Advertise Your Event</a></li>
        </ul>
    </div>

    <div class="col-md-9 tab-content">
        <div id="detail" class="tab-pane fade in active">
            <div class="outerDiv">
                <div class="head" style="display:inline-block">
                    <div>
                        <h3 style="margin:0;padding-bottom:10px; display:inline-block">@Model.name</h3> ( @if (Model.approvalStat == null)
                        {<span class="text-warning">Pending</span> }
                        else if (Model.approvalStat == true)
                        { <span class="text-success">Accepted</span> }
                        else if (Model.approvalStat == false)
                        { <span class="text-danger">Denied</span>})
                    </div>
                </div>
                <div class="images" style="overflow-x:hidden">
                    <div class="row">
                        <div class="col-md-8" style="border:0px red solid; padding:0px; margin-left:15px;">
                            <img src="~/Photo/@Model.photoURL" style="width:500px; height:500px; margin-bottom:5px; border:1px solid #c3c3c3;" />
                        </div>
                    </div>
                </div>

                <div>
                    <table class="table">
                        <tr>
                            <th>Name</th>
                            <td>: @Model.name</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>: @Model.des</td>
                        </tr>
                        <tr>
                            <th>Event date</th>
                            <td>: @Model.date.ToString("dd-MM-yyy")</td>
                        </tr>
                        <tr>
                            <th>Start time</th>
                            <td>: @Model.startTime</td>
                        </tr>
                        <tr>
                            <th>End time</th>
                            <td>: @Model.endTime</td>
                        </tr>
                        <tr>
                            <th>Registration fees (RM)</th>
                            <td>: @Model.price</td>
                        </tr>
                        <tr>
                            <th>Venue</th>
                            <td>
                                : @if (Model.venueId == null)
                                {
                                    <span>No Venue Booked</span>
                                }
                                else
                                {
                                    <span>@Model.Venue.name</span>
                                }
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
        <div id="editdetail" class="tab-pane fade in">
            <h3>Edit event details</h3>
            <hr />
            <form class="form" method="post" enctype="multipart/form-data">
                @Html.ValidationSummary(true)
                <div class="container rounded bg-white mt-5 mb-5">
                    <div class="row">
                        <div class="col-md-3 border-right">
                            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                <label class="upload">
                                    <img class="img-thumbnail" src="~/Photo/@Model.photoURL">
                                    @Html.TextBoxFor(e => e.Photo, new
                                    {
                                   type = "file",
                                        accept = "image/jpeg, image/png",
                                   hidden = ""
                                    })

                                </label>
                            </div>
                        </div>

                        <div class="col-md-7 border-right">
                            <div class="row mt-2">
                                <div class="col-md-6">
                                    @Html.LabelFor(e => e.name, "Name")@Html.TextBoxFor(e => e.name, new { maxlength = 20, autofocus = "", @class = "form-control", placeholder = "Name" }) @Html.ValidationMessageFor(e => e.name)
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(e => e.price, "Price")@Html.TextBoxFor(e => e.price, new { type = "number", @class = "form-control", placeholder = "price", min = "0" }) @Html.ValidationMessageFor(e => e.price)
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-6">
                                    @Html.LabelFor(e => e.date, "Date")@Html.TextBoxFor(e => e.date, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
                                    @*<small>(@min to @max )</small>*@
                                    @Html.ValidationMessageFor(e => e.date)
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(e => e.participants, "Participants")@Html.TextBoxFor(e => e.participants, new { type = "number", @class = "form-control", placeholder = "20", min = "20" })
                                    @Html.ValidationMessageFor(e => e.participants)
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-6">
                                    @Html.LabelFor(e => e.startTime, "Start Time")@Html.TextBoxFor(e => e.startTime, new { type = "time", @class = "form-control" })
                                    @Html.ValidationMessageFor(e => e.startTime)
                                </div>
                                <div class="col-md-6">
                                    @Html.LabelFor(e => e.endTime, "End Time")@Html.TextBoxFor(e => e.endTime, new { type = "time", @class = "form-control" })
                                    @Html.ValidationMessageFor(e => e.endTime)
                                </div>
                            </div>
                            <div class="row mt-6">
                                <div class="col-md-12">
                                    @Html.LabelFor(e => e.des, "Description")@Html.TextAreaFor(e => e.des, new
{
style = "width: 100%; height: 200px; resize: none",
@class = "form-control",
autofocus = "",
placeholder = "Description"
})
                                    @Html.ValidationMessageFor(e => e.des)

                                </div>

                            </div>
                            <div class="mt-12" style="margin-top:15px"><section><button class="btn btn-primary profile-button">Edit Event</button></section></div>
                        </div>

                    </div>
                </div>
            </form>

        </div>

        <div id="registration" class="tab-pane fade in">
            <h3>Participants (@ViewBag.ParticipantsCount)</h3>
            @{
                if (ViewBag.ParticipantsCount == 0)
                {
                    <p>No participant(s) yet.</p>
                }
                else
                {
                    foreach (var item in ViewBag.Registrations)
                    {
                        if (item.Payment.status == true)
                        {
                            <div class="col-md-2">
                                <div>
                                    <img class="text-center" src="~/Photo/@item.User.photo" style="width:100px;height:100px;object-fit:cover;border-radius:50%; border:1px solid grey" />
                                    <p class="text-center" style="font-weight:bold">@item.User.username</p>
                                </div>
                            </div>
                        }
                    }
                }
            }
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

            <h3 style="color:#c5c5c5">Pending (@ViewBag.PendingCount)</h3>
            @{
                if (ViewBag.PendingCount == 0)
                {
                    <p>No pending participant(s) yet.</p>
                }

                if (ViewBag.Registrations != null)
                {
                    foreach (var item in ViewBag.Registrations)
                    {
                        if (item.Payment.status == false)
                        {
                            <div class="col-md-2">
                                <img src="~/Photo/@item.User.photo" style="width:100px;height:100px;object-fit:cover;border-radius:50%; border:1px solid grey" />
                                <div>
                                    <p class="text-center" style="font-weight:bold">@item.User.username</p>
                                </div>
                            </div>
                        }
                    }
                }
            }

        </div>
        <div id="payment" class="tab-pane fade in">
            <h3>Transactions</h3>
            @if (ViewBag.PaymentsCount == 0)
            {
                <p>No active transaction(s) yet.</p>
            }else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Role</th>
                            <th scope="col">Registration fees(RM)</th>
                            <th scope="col">Paid at</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.Payments)
                        {
                            <tr>
                                <td>@item.Registration.User.name</td>
                                <td>
                                    @if (item.Registration.User.role == "Organizer")
                                    {
                                        if(item.Registration.User.memberRole == "Student")
                                        {
                                            <span>Student</span>
                                        }
                                        else
                                        {
                                            <span>Outsider</span>
                                        }
                                    }
                                    else
                                    {
                                        <span>@item.Registration.User.role</span>
                                    }
                                </td>
                                <td>@item.price</td>
                                <td>@(item.paymentdate == null ? "-" : item.paymentdate)</td>
                                @{
                                    if (item.status == true)
                                    {
                                        <td>Paid</td>
                                    }
                                    else
                                    {
                                        <td>Unpaid</td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>
</div>

@section foot{

    <script>

        function validatePhoto(f) {
            let retype = /^image\/(jpeg|png)$/i;
            let reName = /^.+\.(png|jpg|jpeg)$/i;
            return f &&
                f.size <= 1 * 1024 * 1024 &&
                retype.test(f.type) &&
                reName.test(f.name);
        }

        let src = null;
        $('.upload input').change(e => {
            let f = e.target.files[0];
            let img = $(e.target).siblings('img')[0];

            if (!src) src = img.src;

            if (validatePhoto(f)) {

                img.src = URL.createObjectURL(f);

            } else {
                img.src = src;
                e.target.value = '';
            }

        });

    </script>
}