@model PaymentVM
@{
    ViewBag.Title = "Payment";
}


@section head{
    <style>

        .editor-label {
            float: left;
        }

        .editor-field {
            margin-left: 80px;
        }

        input{
            margin-bottom:15px;
        }
    </style>
    }


<div>
    <h3>Payment</h3><hr />

    <div class="col-md-5 border-right" style="border: 0px red solid;">
        <div class="panel-heading bg-dark" style="border:1px solid #c3c3c3">
            <b style="color:white">Payment info</b>
        </div>
        <div class="panel-body" style="border:1px solid #c3c3c3">
            <div style="float:left">
                <img src="~/Photo/@Model.Registration.Event.photoURL" style="height:150px; width:150px;margin-right:20px" />
            </div>
            <div style="padding-left:20px;">
                <strong style="font-size:20px">@Model.Registration.Event.name</strong><br />
                (@Model.Registration.Event.date.ToString("dd-MMMM-yy"))<hr />
            </div>
            <div>
                <table>
                    <tr>
                        <td>Amount  </td>
                        <td>@Model.Registration.Event.price</td>
                    </tr>
                    <tr>
                        <td style="padding-right:20px">Additional Charges</td>
                        <td style="border-bottom: 1px solid black">@Model.addCharge</td>
                    </tr>
                    <tr>
                        <td>Total (RM)  </td>
                        <td>@Model.price</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="border: 0px red solid;">
        <div class="panel-heading bg-dark" style="border:1px solid #c3c3c3">
            <b style="color:white;">Payment details</b>
        </div>
        <div class="panel-body" style="border:1px solid #c3c3c3">
            <form class="form " method="post">
                @Html.ValidationSummary(true)
                <div>
                    <label class="form-group">Payment method</label>
                    <div>
                        <input class="form-control" value="Credit/Debit Card" disabled />
                    </div>

                    <div>
                        @Html.LabelFor(m => m.name, "Name")
                    </div>
                    <div>
                        @Html.TextBoxFor(m => m.name, new { @class = "form-control", placeholder = "Your name" })
                        @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                    </div>


                    <div>
                        @Html.LabelFor(m => m.cardNum, "Card Number")
                    </div>
                    <div>
                        @Html.TextBoxFor(m => m.cardNum, new { @class = "form-control", placeholder = "Without dashes" })
                        @Html.ValidationMessageFor(m => m.cardNum, "", new { @class = "text-danger" })
                    </div>


                    <div>
                        <div class="editor-label">
                            @Html.LabelFor(m => m.cvv, "CVV")
                            @Html.TextBoxFor(m => m.cvv, new { @class = "form-control", placeholder = "CVV", style = "width:60px" })
                            @Html.ValidationMessageFor(m => m.cvv, "", new { @class = "text-danger" })
                        </div>
                        <div class="editor-field">
                            @Html.LabelFor(m => m.expDate, "Expiry Date")
                            @Html.TextBoxFor(m => m.expDate, new { @class = "form-control", placeholder = "MM/YY", style = "width:80px" })
                            @Html.ValidationMessageFor(m => m.expDate, "", new { @class = "text-danger" })

                        </div>
                    </div>


                    <br />
                    <div>
                        <button class="btn btn-primary">Confirm</button>
                    </div>
                </div>

            </form>

        </div>


    </div>

</div>

