@using PagedList
@using PagedList.Mvc
@model IPagedList<Event>


@if (Model.Count() > 0)
{
<div id="countModel"><span>@Model.Where(e => e.status == true && e.approvalStat == true).Count() record(s) in event list</span></div>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price(RM)</th>
                <th scope="col">Availability</th>
                <th scope="col">Participant limit</th>
                <th scope="col">Date</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col">Venue</th>
                <th scope="col">Organized by</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model)
            {
               <tr>
                        <td scope="row">@e.Id</td>
                        <td scope="row">@e.name</td>
                        <td scope="row">@e.des</td>
                        <td scope="row">@e.price</td>
                        <td scope="row">@e.availability</td>
                        <td scope="row">@e.participants</td>
                        <td scope="row">@e.date.ToString("dd/MM/yyyy")</td>
                        <td scope="row">@e.startTime</td>
                        <td scope="row">@e.endTime</td>
                        @if (e.venueId == null)
                        {
                            <td scope="row"> </td>
                        }
                        else
                        {
                            <td scope="row">@e.Venue.name</td>
                        }
                        <td scope="row">@e.Organiser.represent </td>
                        <td>
                            <a class="btn btn-primary" href="/Admin/EditEvent?id=@e.Id">Edit</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="/Admin/DeleteEvent?id=@e.Id">Delete</a>
                        </td>
               </tr>                
            }
        </tbody>
    </table>
    <div id="paged">
        @Html.PagedListPager(
            Model,
            p => "?page=" + p,
            PagedListRenderOptions.Classic
        )
    </div>
}
else
{
    <div style=" text-align: center; margin-top:50px;"><span style="font-size: 16pt; text-align:center;">No Records Found.</span></div>
}
