@using PagedList
@using PagedList.Mvc
@model IPagedList<Organiser>


@if (@Model.Count() > 0)
{
    <div id="countModel"><span>@Model.Where(u => u.status == null).Count() record(s) in user list</span></div>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Society/Organisation</th>
                <th scope="col"></th>
                <th scope="col">Position Held</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var o in Model)
            {
                if (o.status == null)
                {

                    <tr>
                        <td scope="row">@o.Id</td>
                        <td scope="row"></td>
                        <td scope="row"></td>
                        <td scope="row"></td>
                        <td scope="row">@o.represent</td>
                        <td scope="row"></td>
                        <td scope="row">@o.position</td>
                        <td>
                            <a class="btn btn-primary" href="/Admin/ApproveOrganizer?id=@o.Id">Approve</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="/Admin/DeclineOrganizer?id=@o.Id">Decline</a>
                        </td>

                    </tr>
                }
            }

        </tbody>
    </table>
    <div id="paged">
        @Html.PagedListPager(
     Model,
     p => "?page=" + p,
     PagedListRenderOptions.Classic
    )
    </div>
}
else
{
    <div style=" text-align: center; margin-top:50px;"><span style="font-size: 16pt; text-align:center;">No Records Found.</span></div>
}
