@using PagedList
@using PagedList.Mvc
@model IPagedList<User>

@if (@Model.Count() > 0)
{
    <span id="countModel">@Model.Where(u => u.status == true).Count() record(s) in user list</span>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Email</th>
                <th scope="col">Username</th>
                <th scope="col">Role</th>
                <th scope="col">Position</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
                <th scope="col"></th>
 
            </tr>
        </thead>
        <tbody>
            @foreach (var u in Model)
            {
                if (u.status == true)
                {
                    <tr>
                        <td scope="row">@u.Id</td>
                        <td scope="row">@u.name</td>
                        <td scope="row">@u.contact_no</td>
                        <td scope="row">@u.email</td>
                        <td scope="row">@u.username</td>
                        <td scope="row">@u.role</td>
                        <td scope="row">@u.memberRole</td>
                        <td scope="row"></td>
                        <td>
                            <a class="btn btn-primary" href="/Admin/EditUser?id=@u.Id">Edit</a>
                            <a class="btn btn-danger" href="/Admin/DeleteUser?id=@u.Id">Delete</a>
                        </td>
                    </tr>

                }
            }

        </tbody>
    </table>
    <div id="paged">
        @Html.PagedListPager(
              Model,
              p => "?page=" + p,
              PagedListRenderOptions.Classic
          )
    </div>
}
else
{
    <div style=" text-align: center; margin-top:50px;"><span style="font-size: 16pt; text-align:center;">No Records Found.</span></div>
}