@using PagedList
@using PagedList.Mvc
@model IPagedList<User>
@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    var results = new AjaxOptions
    {
        Url = "/Admin/DisplayUser",
        HttpMethod = "get",
        LoadingElementId = "loader",
        UpdateTargetId = "userTable",
    };
    var attr = new
    {
        @class = "form-horizontal",
    };
}
<style>
    #loader {
        text-align: center;
        display: none;
    }

    #paged, #countModel {
        margin: 10px;
        text-align: center;
        display: block;
    }
</style>
<h1>User List</h1>

<input class="btn btn-primary" data-get="/Admin/InsertUser" type="button" value="Add User">

@using (Ajax.BeginForm("DisplayUser", "Admin", results, attr))
{
    <span class="btn btn-secondary dropdown-toggle searchButton">Filter</span>
    <span>@Html.DropDownList("sort", ViewBag.SortList as SelectList, "Sort By", new { @class = "btn btn-secondary", onChange = "sortData(this);" })</span>
    <span>
        @Html.TextBox("searchName", null, new
        {
            data_upper = "",
            autofocus = "",
            @class = "form-control",
            style = "display:inline; width:600px;",
            placeholder = "Search..."
        })
    </span>
    <i class="fa fa-search fa-2x"></i>
    <div class="parent">
        <div class="searchCont" style="display:none">
            <div style="padding-left: 10px;">
                <h3 style="padding-top: 10px; padding-bottom: 10px;">Filters</h3>
                <div class="form-group row">
                    @Html.Label("name", "Name", new { @class = "control-label col-sm-2" })
                    @Html.TextBox("name", null, new { maxlength = "10", data_upper = "", autofocus = "", type = "search", @class = "form-control col-sm-2" })
                </div>
                <div class="form-group row">
                    @Html.Label("username", "Username", new { @class = "control-label col-sm-2" })
                    @Html.TextBox("username", null, new { type = "search", @class = "form-control col-sm-2" })
                </div>
                <div class="form-group row">
                    @Html.Label("email", "Email", new { @class = "control-label col-sm-2" })
                    @Html.TextBox("email", null, new { type = "email", placeholder = "example@gmail.com", @class = "form-control timepicker col-sm-2" })
                </div>
                <div class="form-group row">
                    @Html.Label("role", "Role", new { @class = "control-label col-sm-2" })
                    @Html.DropDownList("role", ViewBag.RoleList as SelectList, "- Select One -", new { @class = "control-label col-sm-2 btn btn-secondary form-control" })
                    <div class="col-sm-offset-1 col-sm-1">
                        <input type="submit" class="btn btn-primary searchBtn" name="Search" value="Search" />
                    </div>
                    <div class="col-sm-1">
                        <input type="reset" class="btn btn-primary " name="Reset" value="Reset" onclick="resetData();" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div id="userTable">
    <div id="loader"><img src="~/Images/loader.gif"></div>
    @Html.Partial("_UserList")
</div>

@section foot{

    <script>
        //when search button click
        jQuery(document).on('click', '.searchButton', function () {
            if (jQuery('.parent').hasClass('menuActive')) {
                jQuery('.parent').removeClass('menuActive');
                jQuery('.parent .menu').slideUp(0);
            }
            jQuery('.parent').toggleClass('searchActive').children('.searchCont').slideToggle(200);
        });

        // Search Name
        let timer = null;
        $('#searchName').on('input', e => {
            // when user enter text, it will clear previous execution
            clearTimeout(timer);
            timer = setTimeout(() => $(e.target.form).submit(), 1000);
        });

        // Sort By
        function sortData(e) {
            e.form.submit();
        }

        // reset data filter
        function resetData() {
            $("input .form-control").val(0);
        }
    </script>
}






