
@using PagedList
@using PagedList.Mvc
@model IPagedList<Advertisement>

@{
    ViewBag.Title = "Advertisement List";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    var results = new AjaxOptions
    {
        Url = "/Admin/DisplayAdvert",
        HttpMethod = "get",
        LoadingElementId = "loader",
        UpdateTargetId = "adsTable",
    };
    var attr = new
    {
        @class = "form-horizontal"
    };
}


<style>
    #loader {
        text-align: center;
        display: none;
    }

    #paged, #countModel {
        margin: 10px;
        text-align: center;
        display: block;
    }

    #adsTable {
        margin: 10px 10px 10px 10px;
        margin-top: 50px;
    }
</style>

<h1>Advertisement List</h1>
<hr />
<input class="btn btn-primary" data-get="/Admin/InsertAdvert" type="button" value="Add Advertisement">

@using (Ajax.BeginForm("DisplayAdvert", "Admin", results, attr))
{
    <span class="btn btn-secondary dropdown-toggle searchButton">Filter</span>
    <span>@Html.DropDownList("sort", ViewBag.SortList as SelectList, "Sort By", new { @class = "btn btn-secondary", onChange = "sortData(this);" })</span>
    <span>
        @Html.TextBox("searchName", null, new
        {
            autofocus = "",
            @class = "form-control",
            style = "display:inline; width:300px;",
            placeholder = "Search..."
        })
    </span>
    <i class="fa fa-search fa-1x"></i>
    <div class="parent">
        <div class="searchCont" style="display:none">
            <div style="padding-left: 10px;">
                <h3 style="padding-top: 10px; padding-bottom: 10px;">Filters</h3>
                <div class="form-group row">
                    @Html.Label("name", "Event Name", new { @class = "control-label col-sm-2" })
                    @Html.TextBox("name", null, new { maxlength = "10", data_upper = "", autofocus = "", type = "search", @class = "form-control col-sm-2" })
                </div>
                <div class="form-group row">
                    @Html.Label("startDate", "Date From", new { @class = "control-label col-sm-2" })
                    @Html.TextBox("startDate", null, "{0: yyyy-MM-dd}", new { type = "date", @class = "form-control col-sm-2" })
                    @Html.Label("endDate", "To", new { @class = "control-label col-sm-1" })
                    @Html.TextBox("endDate", null, "{0: yyyy-MM-dd}", new { type = "date", @class = "form-control col-sm-2" })
                </div>
                <div class="form-group row">
                    @Html.Label("startTime", "Time From", new { @class = "control-label col-sm-2" })
                    @Html.TextBox("startTime", null, "{0: HH:mm}", new { type = "time", @class = "form-control timepicker col-sm-2" })
                    @Html.Label("endTime", "To", new { @class = "control-label col-sm-1" })
                    @Html.TextBox("endTime", null, "{0: HH:mm}", new { type = "time", @class = "form-control timepicker col-sm-2" })
                </div>
                <div class="form-group row">
                    <div class="col-sm-offset-1 col-sm-1">
                        <input type="submit" class="btn btn-primary searchBtn" name="Search" value="Search" />
                    </div>
                    <div class="col-sm-1">
                        <input type="reset" class="btn btn-primary " name="Reset" value="Reset" onclick="resetData();" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div id="adsTable">
    <div id="loader"><img src="~/Images/loader.gif"></div>
    @Html.Partial("_AdsList")
</div>

@section foot{

    <script>
        //when search button click
        jQuery(document).on('click', '.searchButton', function () {
            if (jQuery('.parent').hasClass('menuActive')) {
                jQuery('.parent').removeClass('menuActive');
                jQuery('.parent .menu').slideUp(0);
            }
            jQuery('.parent').toggleClass('searchActive').children('.searchCont').slideToggle(200);
        });

        // Search Name
        let timer = null;
        $('#searchName').on('input', e => {
            // when user enter text, it will clear previous execution
            clearTimeout(timer);
            timer = setTimeout(() => $(e.target.form).submit(), 1000);
        });

        // Sort By
        function sortData(e) {
            e.form.submit();
        }

        // reset data filter
        function resetData() {
            $("input .form-control").val(0);
        }
    </script>
}
