@model AdvertManageVM


@{
    ViewBag.Title = "Edit Advert";
    string min = DateTime.Today.AddDays(+30).ToString("yyyy-MM-dd");
    string max = DateTime.Today.AddDays(+60).ToString("yyyy-MM-dd");
    Layout = "~/Views/Shared/_Dashboard.cshtml";

}

@section head{
    <style>
        input[type="file"] {
            display: none;
        }

        .upload {
            display: block;
        }

            .upload img {
                display: block;
                border: 1px solid #333;
                width: 200px;
                height: 200px;
                object-fit: cover;
            }
    </style>
}

<form class="form" method="post" enctype="multipart/form-data">
    @Html.ValidationSummary(true)
    <div class="container rounded bg-white mt-5 mb-5">
        <h2>Edit Advertisement</h2>
        <hr />
        <div class="row">
            <div class="col-md-7 border-left">
            </div>
            <div class="col-md-7 border-right">

                <div class="row mt-4">
                    <div class="col-md-6">
                        @Html.LabelFor(e => e.startDate, "Start Date")@Html.TextBoxFor(e => e.startDate, "{0:yyyy-MM-dd}", new { type = "date", min, max, @class = "form-control" })
                        @*<small>(@min to @max )</small>*@
                        @Html.ValidationMessageFor(e => e.startDate)
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(e => e.endDate, "End Date")@Html.TextBoxFor(e => e.endDate, "{0:yyyy-MM-dd}", new { type = "date", min, max, @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.endDate)
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        @Html.LabelFor(e => e.Id, "Event Name")
                        @Html.DropDownListFor(e => e.Id, ViewBag.EventList as SelectList, "- Select One -", new { @class = "btn btn-secondary dropdown-toggle", @disabled = "disabled" })
                        @Html.ValidationMessageFor(e => e.Id)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-12" style="margin-top:15px"><section><button class="btn btn-primary profile-button">Edit</button></section></div>
                </div>
            </div>
        </div>

    </div>
</form>


@section foot{

    <script>

        function validatePhoto(f) {
            let retype = /^image\/(jpeg|png)$/i;
            let reName = /^.+\.(png|jpg|jpeg)$/i;
            return f &&
                f.size <= 1 * 1024 * 1024 &&
                retype.test(f.type) &&
                reName.test(f.name);
        }

        let src = null;
        $('.upload input').change(e => {
            let f = e.target.files[0];
            let img = $(e.target).siblings('img')[0];

            if (!src) src = img.src;

            if (validatePhoto(f)) {

                img.src = URL.createObjectURL(f);

            } else {
                img.src = src;
                e.target.value = '';
            }

        });

    </script>
}

