@model EventEditVM
@{
    ViewBag.Title = "Edit Event";
    string min = DateTime.Today.AddDays(+30).ToString("yyyy-MM-dd");
    string max = DateTime.Today.AddDays(+60).ToString("yyyy-MM-dd");
    Layout = "~/Views/Shared/_Dashboard.cshtml";


}


@section head{
    <style>
        input[type="file"] {
            display: none;
        }

        .upload {
            display: block;
        }

            .upload img {
                display: block;
                border: 1px solid #333;
                width: 200px;
                height: 200px;
                object-fit: cover;
            }
    </style>
}


<form class="form" method="post" enctype="multipart/form-data">
    @Html.ValidationSummary(true)
    <div class="container rounded bg-white mt-5 mb-5">
        <h2>Edit Event</h2>
        <hr />
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <label class="upload">
                        <img class="img-thumbnail" src="~/Photo/@Model.photoURL">
                        @Html.TextBoxFor(e => e.Photo, new
                   {
                       type = "file",
                       accept = "image/jpeg, image/png",
                       hidden = ""

                   })
                        @Html.ValidationMessageFor(e => e.Photo)
                    </label>
                </div>
            </div>

            <div class="col-md-7 border-right">
                <div class="row mt-2">
                    <div class="col-md-6">
                        @Html.LabelFor(e => e.name, "Name")@Html.TextBoxFor(e => e.name, new { maxlength = 20, autofocus = "", @class = "form-control", placeholder = "Name" }) @Html.ValidationMessageFor(e => e.name)
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(e => e.price, "Price")@Html.TextBoxFor(e => e.price, new { type = "number", @class = "form-control", placeholder = "price", min = "0" }) @Html.ValidationMessageFor(e => e.price)
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        @Html.LabelFor(e => e.date, "Date")@Html.TextBoxFor(e => e.date, "{0: yyyy-MM-dd}", new { type = "date", min, max, @class = "form-control" })
                        @*<small>(@min to @max )</small>*@
                        @Html.ValidationMessageFor(e => e.date)
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(e => e.participants, "Participants")@Html.TextBoxFor(e => e.participants, new { type = "number", @class = "form-control", placeholder = "20", min = "20" })
                        @Html.ValidationMessageFor(e => e.participants)
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        @Html.LabelFor(e => e.startTime, "Start Time")@Html.TextBoxFor(e => e.startTime, new { type = "time", @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.startTime)
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(e => e.endTime, "End Time")@Html.TextBoxFor(e => e.endTime, new { type = "time", @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.endTime)
                    </div>
                </div>
                <div class="row mt-6">
                    <div class="col-md-12">
                        @Html.LabelFor(e => e.des, "Description")@Html.TextAreaFor(e => e.des, new
{
style = "width: 100%; height: 200px; resize: none",
@class = "form-control",
autofocus = "",
placeholder = "Description"
})
                        @Html.ValidationMessageFor(e => e.des)

                    </div>

                </div>
                <div class="mt-12" style="margin-top:15px"><section><button class="btn btn-primary profile-button">Propose Event</button></section></div>
            </div>

        </div>
    </div>
</form>

@section foot{

    <script>

        function validatePhoto(f) {
            let retype = /^image\/(jpeg|png)$/i;
            let reName = /^.+\.(png|jpg|jpeg)$/i;
            return f &&
                f.size <= 1 * 1024 * 1024 &&
                retype.test(f.type) &&
                reName.test(f.name);
        }

        let src = null;
        $('.upload input').change(e => {
            let f = e.target.files[0];
            let img = $(e.target).siblings('img')[0];

            if (!src) src = img.src;

            if (validatePhoto(f)) {

                img.src = URL.createObjectURL(f);

            } else {
                img.src = src;
                e.target.value = '';
            }

        });

    </script>
}



