@model IEnumerable<Event>

@{
    ViewBag.Title = "Event List";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h1>Events List</h1>
<input class="btn btn-primary" data-get="/Admin/Insert" type="button" value="Add new event">

<p>@Model.Count() record(s) in event list</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Availability</th>
            <th scope="col">Participant limit</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Duration</th>
            <th scope="col">Organized by</th>
            <th scope="col">Approval</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td scope="row">@s.Id</td>
                <td scope="row">@s.name</td>
                <td scope="row">@s.des</td>
                <td scope="row">RM @s.price</td>
                <td scope="row">@s.availability</td>
                <td scope="row">@s.participants</td>
                <td scope="row">@s.startDate.ToString("dd/MM/yyyy") @s.startTime</td>
                <td scope="row">@s.endDate.ToString("dd/MM/yyyy") @s.endTime</td>
                <td scope="row">@s.duration hour(s)</td>
                <td scope="row">@s.organized_by</td>
                <td scope="row">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitches">
                        <label class="custom-control-label" for="customSwitches">@s.approvalStat</label>
                    </div>
                </td>
                <td scope="row">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitches">
                        <label class="custom-control-label" for="customSwitches">@s.status</label>
                    </div>
                </td>
                <td> 
                    <a href="/Admin/Edit/@s.Id">
                        <input class="btn btn-primary" data-get="/Admin/Edit?id=@s.Id" type="button" value="Edit">
                    </a>
                </td>
                <td>
                    <a href="/Admin/Delete/@s.Id">
                    <input class="btn btn-primary" data-get="/Admin/Delete?id=@s.Id" type="button" value="Delete">
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>

